[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  height: auto;
}

.spinner {
  border: 1px solid #eee;
  display: inline-block;
  overflow: visible;
  height: 2.1em;
  background: #fff;
  padding: 1px;
}

.spinner .input_counter {
  width: 4em;
  height: 100%;
  text-align: center;
  border: 0;
  vertical-align: top;
  font-size: 0.9em;
  background: transparent;
  color: #2c3e50;
  outline: none;
}

.spinner button {
  width: 1.4em;
  font-weight: 300;
  height: 100%;
  line-height: 0.1em;
  font-size: 1.4em;
  padding: 0.2em !important;
  background: #1abc9c;
  color: #ecf0f1;
  border: none;
}
