[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  height: auto;
}

.spinner {
  border: 2px solid #eee;
  display: inline-block;
  overflow: visible;
  height: 2.1em;
  background: #fff;
  margin-bottom: 5px;
}

.spinner .input_counter {
  width: 4.6em;
  height: 100%;
  text-align: center;
  border: 0;
  vertical-align: top;
  font-size: 1em;
  background: transparent;
  color: #2c3e50;
  outline: none;
}

.spinner button {
  width: 1.4em;
  font-weight: 300;
  height: 100%;
  line-height: 0.1em;
  font-size: 1.4em;
  padding: 0.2em !important;
  background: #1abc9c;
  color: #ecf0f1;
  border: none;
}

html {
  width: 200px;
  width: 200px;
}

main {
  text-align: center;
}

.top {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  font-family: Arial Rounded MT Bold,Helvetica Rounded,Arial,sans-serif;
  padding-bottom: 5px;
}


.top_img {
  width: 32px;
  height: 32px;
  margin: 3px;
}

.top_title {
  vertical-align: middle;
  display: inline-block;
  font-weight: Medium;
  font-size: 12px;
  font-family: Helvetica Neue;
}

.display_days {
  font-size: 16px;
  text-align: center;
}